---
title: Steel Serrated Locking Hex
layout: product
---
.row
  .columns.large-6
    .row.collapse.product-images
      .columns
        %img.main-image{:alt => "Photo of The Guy Magnet", :src => "/images/cuffs/steel-serrated-locking-hex-front.jpg"}/
      .columns.large-4.medium-4.small-4
        %img.thumbnail-image{:alt => "Back Photo of The Guy Magnet", :src => "/images/cuffs/steel-serrated-locking-hex-back.jpg"}/
      .columns.large-4.medium-4.small-4
        %img.thumbnail-image{:alt => "Angle Photo of The Guy Magnet", :src => "/images/cuffs/steel-serrated-locking-hex-angle.jpg"}/
      .columns.large-4.medium-4.small-4
        %img.thumbnail-image{:alt => "Model Photo of The Guy Magnet", :src => "/images/cuffs/steel-serrated-locking-hex-model.jpg"}/
  .columns.large-6
    %h1#which-cuff #{page.title}
    .italics
      %h3 Behold the pleated face.
      %p
        With the additional surface area to hold against your ear, this cuff is especially comfortable.
    .row
      .columns.large-4.medium-4.small-6
        %label
          Slot Size:
          %select#slot-size
            %option{:value => "Small"} Small
            %option{:selected => "selected", :value => "Medium"} Medium
            %option{:value => "Large"} Large
      .columns.large-4.medium-4.small-6
        %label
          Which Ear:
          %select#which-ear
            %option{:value => "Left"} Left
            %option{:value => "Right"} Right
      .columns.large-4.medium-4.small-6
        %label
          Quantity:
          %input#quantity{:min => "1", :type => "number", :value => "1"}/
    .row.columns
      %h4
        Total: $
        %span#total> 8
      %input#price{:type => "hidden", :value => "8"}/
      .text-center
        %button.button.checkout.large Purchase
