---
title: The World's First
layout: general
---
.row.collapse.products
  .columns.small-12.medium-6.large-3.product
    %a{:href => '/cuffs/the-guy-magnet.html'}
      .caption
        The Guy Magnet Hex
      %img{:alt => 'Photo of The Guy Magnet', :src => '/images/cuffs/the-guy-magnet-hex-front.jpg'}
  .columns.small-12.medium-6.large-3.product
    %a{:href => '/cuffs/the-304-stainless-hex.html'}
      .caption
        The 304 - Stainless Hex
      %img{:alt => 'Photo of The 304', :src => '/images/cuffs/the-304-stainless-hex-front.jpg'}
  .columns.small-12.medium-6.large-3.product
    %a{:href => '/cuffs/steel-serrated-locking-hex.html'}
      .caption
        Steel Serrated Locking Hex
      %img{:alt => 'Photo of Steel Serrated Locking Hex', :src => '/images/cuffs/steel-serrated-locking-hex-front.jpg'}
  .columns.small-12.medium-6.large-3.product
    %a{:href => '/cuffs/steel-self-locking-black-hex.html'}
      .caption
        Steel Self Locking Black Hex
      %img{:alt => 'Photo of Steel Self Locking Black Hex', :src => '/images/cuffs/steel-self-locking-black-hex-front.jpg'}
%hr.show-for-large
.row
  .columns.large-6.italics
    %h3 'What Is This Wizardry?'
    %p
      These are, in fact, actual hex nuts.
    %p
      (Hot) guys can't ignore these even if they try.
  .columns.large-6.italics.medium-margin-bottom
    %h3 'Where Has This Been All My Life?'
    %p
      My sentiments exactly.
    %p
      These are one hell of a way to meet people.
