---
title: Sizing
layout: general
---
.row.columns
  .text-content
    %h1 We Care About Your Cuffs
    %p Seriously. A lot of work goes into the making. I want yours to be just right.
    %p.italics Are you wondering which size is right for you?
    %p For the majority of people Medium is the correct choice. For small, dainty ears choose Small. For larger and thicker ears choose Large.
    %p Everyone's ears are different. Even your own ears are probably different. If your Hex Cuff is too tight or too loose, try the following:
    %ul
      %li If it slides off after a while, you may just need to place it higher up on your ear. In doing so, gravity will work in your favor. Also make sure the Hex Cuff threads are right against your ear. It will grip better this way and have a harder time slipping off.
      %li If at first it fits snugly and after a while it starts to be uncomfortable, please take note of which way you are placing the Hex Cuff over your ear. Hex cuffs slots are offset intentionally. If the offset is pressing against the outside of your ear rather than fitting to the contour, it is bound to become uncomfortable before too long. In this case, flip it around and see if it feels better.
    %p Still too tight or too loose? Mail it back with a letter including the following:
    %ol
      %li $2.50 for postage and handling
      %li
        Your phone number
        %span.small-text (or an email if you really, really hate talking on the phone)
      %li
        A description of how tight or loose it is - pick one of these descriptions:
        %ul
          %li I can't even force it onto my ear
          %li It is uncomfortably tight
          %li It immediately falls off no matter what
    %p
      The First Mod is Free!
      %span.italics YAY!
      Please address mail to:
    %p.address
      Hex Cuff
      %br/
      101 Cooper Street
      %br/
      Santa Cruz, CA 95060
