---
title: About Us
layout: general
---
.row.columns
  .text-content
    %h1 The Invention Of The Hex Cuff
    .italics
      %p One day this guy decided he wanted an ear cuff.
      %p He typed "buy ear cuffs" into Google image search.
      %p Digging, digging, and digging some more through the results he could not find a single cuff which would work for him.
      %p He stopped and thought for a while.
      %p It occurred to him that hex nuts are already the correct shape.
      %p If he removed one of the sides it should do well to attach itself on its own.
      %p He quested to the Hardware Store and picked out a few hex nuts to test his hypothesis.
      %p He successfully battled and tamed his first Hex Cuff.
      %p It worked better than he had dreamed.
      %p He ventured out again, this time far and wide, in search of new types of hex nuts.
      %p.medium-margin-bottom These became the Hex Cuffs you see today.
